footer {
    @include flexCenterCenter;
    flex-direction: column;
    width: 100%;
    height: 35vh;
    background-color: $white;
    span {
        color: $blue;
    }

    .logo {
        @include flexCenterCenter;
        margin-top: 30px;
        .texto-logo {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        img {
            width: 10%;
            padding-right: 10px;
        }
        p {
            font-size: 16px;
            font-weight: bold;
        }
    }

    .rodape {
        width: 100%;
        height: 20vh;
        background-color: $blue;
    }

    .logo, .contatos-endereços, .autoria {
        padding: 15px;
        text-align: center;
    }

    .contatos-endereços {
        display: flex;
        flex-direction: column;
        gap: 10px;
        p {
            font-weight: bold;
        }
        @media screen and (max-width: 568px) {
            p {
                font-size: 13px;
            }
        }
    }

    .autoria {
        width: 100%;
        background-color: $gray;
        p {
            font-size: 20px;
            font-weight: bold;
        }
        @media screen and (max-width: 568px) {
            p {
                font-size: 12px;
            }
        }
    }
}