main {

    span {
        color: $blue;
    }

    .banner {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $blue;
        width: 100%;
        height: 60vh;
        @media screen and (max-width:826px) {
            img {
                width: 50%;
            }
            .banner-texto {
                width: 50%;
                h2 {
                    font-size: 26px;
                }
            }
        }
    }

    .banner-texto {
        width: 30%;
        p {
            font-size: 14px;
        }
        h2 {
            font-size: 35px;
        }
        h2, p {
            color: $white;
            padding: 10px;
        }
    }

    .primeiro-anuncio {
        @include flexCenterAround;
        width: 100%;
        height: 15vh;
        background-color: $dark;
        @media screen and (max-width: 777px) {
            .primeiro-anuncio-texto {
                width: 50%;
                h2 {
                    font-size: 18px;
                }
                p {
                    font-size: 12px;
                }
            }    
        }
        @media screen and (max-width: 432px) {
            .primeiro-anuncio-texto {
                width: 50%;
                h2 {
                    font-size: 15px;
                }
                p {
                    font-size: 10px;
                }
            }  
        }

        h2, p, a {
            color: $white;
        }

        .link-preços-primeiro {
            background-color: $blue;
            width: 27vh;
            height: 7vh;
            border-radius: 5px;
            @include flexCenterCenter;
    
            a {
                font-weight: bold;
                text-decoration: none;
                padding-left: 7px;
            }
            @media screen and (max-width: 432px) {
                a {
                    font-size: 12px
                }
            }
        }
        @media screen and (max-width: 432px) {
            .link-preços-primeiro {
                width: 20vh;
                height: 6vh;
                font-size: 10px
            }
        }
    }

    .informações {
        @include flexCenterCenter;
        flex-direction: column;
        padding: 40px;
    
        img {
            width: 40%;
            padding-top: 20px;
        }

        h2 {
            width: 50%;
            font-size: 30px;
            text-align: center;
            padding-bottom: 10px;
        }
        @media screen and (max-width: 777px) {
            h2 {
                width: 70%;
                font-size: 25px;
                padding-bottom: 5px;
            }   
        }

        .tabela-informações {
            height: 45vh;
            h2 {
                width: 60%;
                font-size: 22px;
            }
            @media screen and (max-width: 777px) {
                h2 {
                    width: 50%;
                    font-size: 18px;
                }   
            }
        }

        p {
            font-size: 16px;
            width: 60%;
            height: 20vh;
            text-align: center;
        }
        @media screen and (max-width: 777px) {
            p {
                width: 70%;
                font-size: 15px;
                padding-bottom: 15px
            }   
        }

        tr,td {
            @include flexCenterAround;
            width: 100%;
            padding: 4px;
        }
    }

    .planos {
        @include flexCenterCenter;
        flex-direction: column;
        text-align: center;
        background-color: $gray;
        width: 100%;
        height: 90vh;
        h2 {
            font-size: 40px;
            padding-bottom:  30px;
        }
        @media screen and (max-width: 595px) {
            h2 {
                width: 70%;
                font-size: 28px;
            }   
        }
        img {
            width: 25%;
        }

        table {
            background-color: $white;
            border: 1px solid $dark;
            border-radius: 5px;
            width: 70%;
            height: 60vh;
            box-shadow: 5px 5px 20px 10px $blue, 
                        -5px -5px 20px 10px $blue;

            tr {
                th {
                    padding: 15px 0 0 0;
                    font-size: 20px;
                }
                @media screen and (max-width: 595px) {
                    th {
                        width: 50%;
                        font-size: 16px;
                    }   
                }
            }

            @media screen and (max-width: 595px) {
                td {
                    width: 100%;
                    padding:5px;
                    font-size: 16px;
                }   
            }

            p {
                font-size: 17px;
                font-weight: bold;
            }
            @media screen and (max-width: 595px) {
                p {
                    width: 100%;
                    font-size: 14px;
                }   
            }
        }

        .grey-bgcolor {
            background-color: $gray;
        }
    }

    .segundo-anuncio {
        @include flexCenterAround;
        width: 100%;
        height: 15vh;
        background-color: $blue;
        @media screen and (max-width: 912px) {
            .segundo-anuncio-texto {
                width: 70%;
                h2 {
                    font-size: 24px;
                }
                p {
                    font-size: 18px;
                }
            }
        }

        @media screen and (max-width: 777px) {
            .segundo-anuncio-texto {
                width: 50%;
                h2 {
                    font-size: 18px;
                }
                p {
                    font-size: 12px;
                }
            }    
        }

        h2, p, a {
            color: $white;
        }

        h2 {
            font-size: 30px;
        }

        p {
            font-weight: bold;
            font-size: 24px;
        }

        .link-preços-segundo {
            background-color: $dark;
            width: 27vh;
            height: 7vh;
            border-radius: 5px;
            @include flexCenterCenter;

            a {
                font-weight: bold;
                text-decoration: none;
                padding-left: 7px;
            }
            @media screen and (max-width: 432px) {
                a {
                    font-size: 12px
                }
            }
        }
        @media screen and (max-width: 432px) {
            .link-preços-segundo {
                width: 20vh;
                height: 6vh;
                font-size: 10px
            }
        }
    }
}